$background-color: #f0f0f0;

#main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: $background-color;
}

.main-table{
    display: flex;
    margin-top: 30px;
    width:100%;
}

.search-bar{
    width:100%;
}