<div class="akk">
    <div class="search-bar">

        <h2><i>Find your car!</i></h2>
        <div class= "search-container">
            <label id="search-input-label" for="search-input" style="display: none;">Buscar</label>
            <input id="search-input" [(ngModel)]="searchValue.brand"  type="search" placeholder="Search by Brand" name="search-input">
            <div class="filtro-btn">
                <img id="fotoflecha" src="assets/images/icons8-flecha-ampliar-32.png" alt="Search" (click)="setSearch()">
            </div>
        </div>
        <div class= "search-container advanced" *ngIf="searchMode=='Advanced'">
            <div class="search-select">
                <h3>Model</h3>
                <select [(ngModel)]="searchValue.model">
                    <option></option>
                    <option *ngFor="let model of getModel()">{{model}}</option>
                </select>
            </div>
            <div class="search-select">
                <h3>Year</h3>
                <select [(ngModel)]="searchValue.year">
                    <option></option>
                    <option *ngFor="let year of getYears()">{{year}}</option>
                </select>
            </div>
        </div>
    </div>
    <table>
        <thead>
            <tr>
                <th scope="col" *ngFor="let header of table_headers" (click)="sort(header.toLowerCase())">
                    <div class="thcontent">
                        <p>{{header.replace('_',' ')}}</p>
                        <img *ngIf="header != 'Photo'" src="../assets/images/sort-solid.svg">
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products | searchfilter: searchValue.brand:searchValue.model:searchValue.year; let i = index;">
                <td><img [src]="product.photo" alt="(sin foto!)"></td>
                <td><p>{{product.brand | uppercase}}</p></td>
                <td><p>{{product.model | titlecase}}</p></td>
                <td><p>{{product.year}}</p></td>
                <td><p>{{product.available_since}}</p></td>
                <td><p [ngStyle]="{'background-color':(product.estado=='bueno')?'#90c390':'#c39090'}">{{product.price | currency:'EUR':'symbol':'.2-2':'es'}}</p></td>
                <td><p>{{product.price * 1.21 | currency:'EUR':'symbol':'.2-2':'es'}}</p></td>
                <td class="buttons-cell">
                    <button (click)="reducePrice(i)">Rebajar</button>
                    <button (click)="deleteProduct(i)">Vendido</button>
                </td>
            </tr>
        </tbody>
    </table>

</div>

       

