tr{
    flex-flow: row;
    img {
    object-fit: contain;
    width: 100%;
    height: 60px;
    }
}

th{
    text-decoration: underline;
}

td {
    column-gap: 10px;
}

.buttons-cell {
    display: flex;
    flex-flow: column;
}