<table>
    <thead>
        <tr>
            <th scope="col" *ngFor="let header of table_headers" (click)="sort(header.toLowerCase())">{{header.replace('_',' ')}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i = index;">
            <td><img [src]="product.photo" alt="(sin foto!)"></td>
            <td><p>{{product.brand | uppercase}}</p></td>
            <td><p>{{product.model | titlecase}}</p></td>
            <td><p>{{product.year}}</p></td>
            <td><p>{{product.available_since}}</p></td>
            <td><p [ngStyle]="{'background-color':(product.estado=='bueno')?'#90c390':'#c39090'}">{{product.price | currency:'EUR':'symbol':'.2-2':'es'}}</p></td>
            <td><p>{{product.price * 1.21 | currency:'EUR':'symbol':'.2-2':'es'}}</p></td>
            <td class="buttons-cell">
                <button (click)="reducePrice(i)">Rebajar</button>
                <button (click)="deleteProduct(i)">Vendido</button>
            </td>
        </tr>
    </tbody>
</table>
